
:root {
    --blue: #14d1d1;
    --black: #0F2336;
    --light-grey: #F4F5F6;
    --grey: #60666d;
}


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    
}

.colorfont {
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    line-height: 75px;
    display: block;
    width: 600px;
    margin-top: -100px;
}

.visuallyhidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.blue {
    color: var(--blue);
}

.dot {
    color: #ffbb00;
}

.bluebutton {
    background-color: var(--blue);
    padding: 1em 4.5em 1em 1em;
    border-radius: 14px;
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
    float: left;
    width: 208px;
    box-shadow: 0px 2px 10px 5px #14d1d130;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: right 20% top 50%;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 120px;
}

.txt {
    padding-bottom: 100px;
}

p {
    color: var(--grey);
    font-weight: 400;
    line-height: 25px;
}

.whitefont {
    color: var(--grey);
    font-weight: 500;
}

.blackbutton {
    background-color: var(--black);
    padding: 1.2em 2em;
    margin-top: -17px;
    border-radius: 9px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.li {
    line-height: 25px;
}

.righttext {
    margin-top: -515px;
    position: relative;
    padding-left: 560px;
}

.sign {
    font-size: 25px;

}

.card {
    max-width: 300px;
}

.whitecard {
    width: 550px;
    height: 179px;
    background-color: white;
    border-radius: 7px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 1px #00000009  ;
    padding: 0.5em 0.5em 0.5em 1.5em;
    display: flex;

}

.whitecard div{
    padding-top: 1em;

}
.middlecard {
    align-self:flex-end ;
}

.whitecard div {
    padding-top: 1em;
}

.whitecard img {
    align-self: flex-start;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.whitecard h3, .whitecard p {
    float: left;
}

.midtitle {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
}

.how {
    width: 200px;
    line-height: 55px;
}

.send {
    width: 300px;
}

.gifts {
    width: 400px;
}

.textphone {
    width: 400px;
}

.textsign {
    width: 300px;
}

.bluetitle {
    font-size: 12px;
    color:var(--blue);
}


nav a {
    color:var(--black);
    font-size: 14px;
}

footer a {
    color: #a1abac;
}

footer {
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
    background-color: var(--black);
    background-image: url(../images/yellowl.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    max-height: 297px;
    min-height: 297px;
    position: relative;
    flex: 0 0 auto;
}


.footer__lists {
    display: flex;
    width: 650px;
    justify-content: space-between;
    margin: 0 0;
    float: right;
    padding: 85px 120px 0 0;
}

.footer__logo {
    padding: 55px 0 0 83px;
}

ul {
    list-style-type: none;
}

.sec0 {
    margin-bottom: 160px;
}

.heroimage {
    background-image: url(../images/noname.png);
    background-repeat: no-repeat;
    background-position: 681px bottom;
    padding: 200px 170px;
    background-color: var(--light-grey);
    max-height: 620px;
}

header, .white {
    background-color: var(--light-grey);
}


.white__div {
    margin-top: -40px;
    margin-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    width: 41%;
}

.white__div .card1 {
    align-self: flex-end;
}

.white__block {
    float: left;
    padding-top: 100px;
}

header {
    padding: 30px 0;
    max-height: 100px;
    width: 100%;
}

.whiteinput {
    background-color: var(--light-grey);
    width: 385.5px;
    height: 56px;
    text-align: center;
    color: grey;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 20px;
}

.enjoy{
    font-size: 50px;
    font-weight: 900;
    color: var(--black);
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.home {
    padding-left: 221px;
    padding-bottom: 23px;
}

.bluesubmit {
    background-color: var(--blue);
    height: 56px;
    width: 155px;
    font-size: 18px;
    border-radius: 13px;
    border: none;
    font-weight: 700;
}

.apbut {
    margin-right: 13px;
}


.header__nav {
    margin-top: 20px;
    float: right;
    display: flex;
    justify-content:space-between;
    width: 410px;
}

.phone {
    margin-top: -3em;
}

.sec1 {
    border-radius: 45px;
    height: 540px;
}

.sec2 {
    margin: 220px 0 180px 0;
    display: flex;
}

.sec3 {
    border-radius: 45px;
    height: 540px;
    min-width: max-content;
}

.sec4 {
    padding-top: 150px;
}

.nav {
    text-decoration: none;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper_sec4 {
    max-width: 570px;
    margin: 0 auto;
}

.ul {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-align: left; 
}


.blueleaf {
    position:absolute;
    bottom: 50px;
}

.form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height:1500px ;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
}

input {
    margin-bottom: 25px;
}

.time{
    display: flex;
    flex-direction: column;
}


.sendbutton{
    height: 60px;
    width: 200px;
    font-size: 30px;
    background: #1bb5b5;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.1s;
    box-shadow: 8px 6px 10px -7px #000000;
}

.sendbutton:hover,.sendbutton:focus{
    font-size:31px ;
    background: #14d1d1;
}

.sendbutton:active{
    font-size: 29px;
    background: #0F2336;
}

.mainpart{
    position: relative;
    min-height: 100%;
}

main{
    padding-bottom: 90px;
}

.formpart{
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
    color:#F4F5F6;
    background-color: #0F2336;
    background-position: 110%;
    border: none;
    height: 35px;
    border-radius: 19px;
}

.formpart:active,.formpart:hover,.formpart:focus{
    background-color: #153654;
}

.morning{
    margin-top: 10px;
}

.formcheckboxtime{
    margin:10px;
    border-radius: 20px;
    background-color: #0F2336;
}

.formbuttons{
    display:flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}

.resetbutton{
    margin-right: 60px;
    height: 60px;
    width: 200px;
    font-size: 30px;
    background: #20202009;
    color: #1bb5b5;
    border: none;
    border-radius: 10px;
    transition: all 0.1s;
    box-shadow: 8px 6px 10px -7px #000000;
}

.resetbutton:hover,.resetbutton:focus{
    font-size:31px ;
    background: #14d1d1;
    color:#F4F5F6
}

.resetbutton:active{
    font-size: 29px;
    background: #0F2336;
}
